.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 800px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 1050px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 1200px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1620px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1550px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 960px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 1160px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 1360px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 1460px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 1560px; } }

.container-header {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-header {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-header {
      max-width: 960px; } }
  @media (min-width: 992px) {
    .container-header {
      max-width: 1160px; } }
  @media (min-width: 1200px) {
    .container-header {
      max-width: 1360px; } }
  @media (min-width: 1400px) {
    .container-header {
      max-width: 1460px; } }
  @media (min-width: 1700px) {
    .container-header {
      max-width: 1560px; } }

.header {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.774);
  padding: 23px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  @media (max-width: 1100px) {
    .header {
      position: static;
      background: black; } }
  .header .container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px; }
    @media (max-width: 1300px) {
      .header .container-header {
        gap: 40px; } }
    @media (max-width: 1100px) {
      .header .container-header {
        flex-direction: column;
        gap: 10px; } }
  .header__logo {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__logo img {
      height: auto;
      width: 100%;
      max-width: 260px; }
      @media (max-width: 1100px) {
        .header__logo img {
          max-width: 170px; } }
  .header__text {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px; }
    @media (max-width: 1300px) {
      .header__text {
        gap: 30px; } }
    @media (max-width: 1100px) {
      .header__text {
        flex-direction: column;
        gap: 20px; } }
    .header__text__individual {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px; }
      @media (max-width: 1300px) {
        .header__text__individual {
          gap: 10px; } }
      @media (max-width: 1300px) {
        .header__text__individual {
          gap: 30px; } }
      .header__text__individual img {
        width: 36px;
        height: auto; }
      .header__text__individual h4 {
        font-size: 18px;
        font-weight: 300;
        color: white; }

.footer {
  width: 100%;
  height: auto;
  background: black;
  padding-top: 32px;
  padding-bottom: 45px; }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 991px) {
      .footer .container {
        flex-direction: column; } }
  .footer__logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    padding-left: 50px; }
    @media (max-width: 991px) {
      .footer__logo {
        width: 100%;
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center; } }
    .footer__logo img {
      width: 260px;
      height: auto; }
      @media (max-width: 991px) {
        .footer__logo img {
          width: 200px;
          margin-bottom: 20px; } }
  .footer__text {
    width: 60%; }
    @media (max-width: 991px) {
      .footer__text {
        width: 100%; } }
    .footer__text p {
      color: white;
      font-weight: 500;
      font-size: 14px; }
      .footer__text p:first-child {
        margin-bottom: 20px; }
      @media (max-width: 1500px) {
        .footer__text p {
          font-size: 14px; } }
      @media (max-width: 991px) {
        .footer__text p {
          font-size: 14px;
          text-align: center; } }

.layout_whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 100;
  gap: 10px; }
  @media (min-width: 1199px) {
    .layout_whatsapp {
      bottom: 80px; } }
  .layout_whatsapp__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 82px !important;
    height: auto;
    padding: 15px;
    background-color: #15B633;
    border-radius: 100%; }
    .layout_whatsapp__button__img {
      width: 30px; }
      .layout_whatsapp__button__img img {
        width: 100%; }

.hero {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (max-width: 900px) {
    .hero {
      min-height: 67vh; } }
  .hero__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 900px) {
      .hero__title {
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 2px #000; } }
    .hero__title h2 {
      width: 100%;
      text-align: center;
      font-size: 65px;
      line-height: 65px;
      color: white;
      font-family: Poppins; }
      @media (max-width: 1500px) {
        .hero__title h2 {
          font-size: 45px;
          line-height: 45px; } }
      @media (max-width: 780px) {
        .hero__title h2 {
          font-size: 35px;
          line-height: 40px;
          max-width: 90%; } }
      @media (max-width: 400px) {
        .hero__title h2 {
          line-height: 43px; } }
    .hero__title h3 {
      width: 100%;
      text-align: center;
      font-size: 140px;
      line-height: 140px;
      font-family: Poppins;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke: 2px white;
      -webkit-text-fill-color: transparent; }
      @media (max-width: 1500px) {
        .hero__title h3 {
          font-size: 95px;
          line-height: 95px; } }
      @media (max-width: 780px) {
        .hero__title h3 {
          font-size: 75px;
          line-height: 95px; } }
      @media (max-width: 400px) {
        .hero__title h3 {
          font-size: 55px;
          line-height: 55px;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke: 1px white; } }
  .hero__button {
    width: 90%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 900px) {
      .hero__button {
        top: 69%; } }
    .hero__button button {
      padding: 24px 77px;
      border-radius: 50px;
      background: white;
      color: black;
      font-family: Poppins;
      font-size: 25px;
      font-weight: 600;
      cursor: pointer; }
      @media (max-width: 1500px) {
        .hero__button button {
          padding: 14px 47px;
          font-size: 25px; } }
      @media (max-width: 780px) {
        .hero__button button {
          padding: 10px 34px;
          font-size: 24px; } }
  .hero__down {
    width: 100%;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 900px) {
      .hero__down {
        top: 85%; } }
    .hero__down p {
      text-align: center;
      color: white;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 400; }
      @media (max-width: 1500px) {
        .hero__down p {
          font-size: 14px; } }
      @media (max-width: 780px) {
        .hero__down p {
          font-size: 14px; } }

.authorized {
  width: 100%;
  height: auto;
  padding: 84px 0px; }
  .authorized .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .authorized h2 {
    font-size: 38px;
    text-align: center;
    color: #034ea2;
    font-family: "Poppins";
    margin-bottom: 60px; }
    @media (max-width: 900px) {
      .authorized h2 {
        font-size: 28px;
        line-height: 31px; } }
  .authorized__grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1100px) {
      .authorized__grid {
        flex-direction: column-reverse; } }
    .authorized__grid__list {
      width: 42%;
      padding-left: 20px; }
      @media (max-width: 1650px) {
        .authorized__grid__list {
          width: 40%; } }
      @media (max-width: 1100px) {
        .authorized__grid__list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          flex-direction: column; } }
      .authorized__grid__list li {
        font-size: 18px;
        font-weight: 300;
        line-height: 38px; }
        @media (max-width: 1460px) {
          .authorized__grid__list li {
            font-size: 17px;
            line-height: 24px; } }
        @media (max-width: 1100px) {
          .authorized__grid__list li {
            text-align: left; } }
        .authorized__grid__list li:not(:last-child) {
          margin-bottom: 25px; }
        .authorized__grid__list li span {
          font-weight: 700; }
    .authorized__grid__images {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 22px;
      flex-wrap: wrap; }
      @media (max-width: 1650px) {
        .authorized__grid__images {
          width: 60%; } }
      @media (max-width: 1100px) {
        .authorized__grid__images {
          width: 100%; } }
      .authorized__grid__images__individual {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .authorized__grid__images__individual img {
          width: 100%;
          max-width: 300px;
          height: auto;
          margin-bottom: 30px; }
          @media (max-width: 1650px) {
            .authorized__grid__images__individual img {
              max-width: 270px; } }
          @media (max-width: 1460px) {
            .authorized__grid__images__individual img {
              max-width: 220px; } }
          @media (max-width: 1100px) {
            .authorized__grid__images__individual img {
              max-width: 270px; } }
        .authorized__grid__images__individual p {
          font-size: 18px;
          line-height: 18px;
          font-weight: 700; }
  .authorized__button {
    margin-top: 60px;
    background: #034ea2;
    border-radius: 50px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 21px 105px; }
    @media (max-width: 1100px) {
      .authorized__button {
        font-size: 17px;
        padding: 21px 45px; } }

.risk {
  width: 100%;
  height: auto;
  background-image: url("../img/risk.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 71px 0px; }
  .risk__blackout {
    width: 100%;
    height: 100%;
    background: #000000a6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .risk .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .risk h2 {
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'Poppins';
    font-size: 38px;
    text-align: center; }
    @media (max-width: 1100px) {
      .risk h2 {
        font-size: 28px; } }
  .risk p {
    position: relative;
    margin-top: 37px;
    z-index: 2;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center; }
    @media (max-width: 1100px) {
      .risk p {
        font-size: 17px; } }
  .risk a {
    position: relative;
    margin-top: 50px;
    z-index: 2;
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
    text-align: center;
    border-radius: 50px;
    padding: 21px 105px;
    background: #034EA2;
    font-weight: 600; }
    @media (max-width: 1100px) {
      .risk a {
        font-size: 18px;
        padding: 21px 45px; } }

.solution {
  width: 100%;
  height: auto;
  padding: 84px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .solution .container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .solution h2 {
    margin-bottom: 80px;
    font-family: 'Poppins';
    font-size: 38px;
    color: #034EA2;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 991px) {
      .solution h2 {
        font-size: 28px;
        line-height: 32px; } }
  .solution__grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1650px) {
      .solution__grid {
        gap: 40px; } }
    @media (max-width: 1100px) {
      .solution__grid {
        gap: 70px;
        flex-direction: column; } }
    .solution__grid__image {
      width: 40%;
      padding-right: 40px; }
      @media (max-width: 1650px) {
        .solution__grid__image {
          width: 30%; } }
      @media (max-width: 1100px) {
        .solution__grid__image {
          width: 100%;
          padding-right: 0px;
          display: flex;
          align-items: center;
          justify-content: center; } }
      .solution__grid__image img {
        width: 100%;
        max-width: 681px;
        height: auto; }
    .solution__grid__icons {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-right: 20px;
      gap: 45px; }
      @media (max-width: 1650px) {
        .solution__grid__icons {
          width: 70%;
          padding-right: 50px; } }
      @media (max-width: 1100px) {
        .solution__grid__icons {
          width: 100%;
          padding: 0px 50px;
          display: flex;
          align-items: center;
          justify-content: center; } }
      .solution__grid__icons__individual {
        width: calc(50% - 45px); }
        @media (max-width: 1100px) {
          .solution__grid__icons__individual {
            min-width: 250px; } }
        @media (max-width: 900px) {
          .solution__grid__icons__individual {
            width: 98%; } }
        .solution__grid__icons__individual__logo {
          width: 125px;
          height: 125px;
          background: #034EA2;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px; }
          @media (max-width: 1650px) {
            .solution__grid__icons__individual__logo {
              width: 80px;
              height: 80px; } }
          .solution__grid__icons__individual__logo img {
            width: 70%;
            height: auto; }
        .solution__grid__icons__individual h3 {
          margin-top: 30px;
          font-family: 'Poppins';
          font-size: 38px;
          font-weight: 700; }
          @media (max-width: 1650px) {
            .solution__grid__icons__individual h3 {
              margin-top: 20px;
              font-size: 24px; } }
        .solution__grid__icons__individual p {
          margin-top: 20px;
          font-family: 'Poppins';
          font-size: 18px;
          font-weight: 300; }
          @media (max-width: 1650px) {
            .solution__grid__icons__individual p {
              margin-top: 10px;
              font-size: 17px; } }

.cards {
  width: 100%;
  height: auto;
  padding-bottom: 84px; }
  .cards .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap; }
  .cards__individual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    min-width: 460px;
    height: auto;
    min-height: 250px;
    overflow: hidden;
    border-radius: 20px; }
    @media (max-width: 500px) {
      .cards__individual {
        min-height: 200px;
        min-width: 98%; } }
    .cards__individual__image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
      .cards__individual__image img {
        width: 100%;
        height: auto; }
        @media (max-width: 400px) {
          .cards__individual__image img {
            width: auto;
            height: 100%; } }
    .cards__individual h1 {
      color: white;
      position: relative;
      z-index: 2;
      font-family: 'Poppins';
      text-align: center;
      width: 100%;
      line-height: 40px;
      font-size: 38px; }
      @media (max-width: 500px) {
        .cards__individual h1 {
          line-height: 28px;
          font-size: 24px; } }
    .cards__individual p {
      color: white;
      position: relative;
      z-index: 2;
      font-family: 'Poppins';
      text-align: center;
      margin-top: 20px;
      line-height: 25px;
      font-size: 18px; }
      @media (max-width: 500px) {
        .cards__individual p {
          line-height: 18px;
          font-size: 16px; } }
    .cards__individual__first {
      max-width: 300px; }
    .cards__individual__last {
      max-width: 190px; }

.service {
  width: 100%;
  height: auto;
  padding-bottom: 120px; }
  .service .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .service .container h2 {
      font-family: 'Poppins';
      font-size: 38px;
      font-weight: 800;
      color: #034EA2;
      text-align: center; }
      @media (max-width: 900px) {
        .service .container h2 {
          font-size: 28px;
          line-height: 32px; } }
  .service__p {
    margin-top: 25px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 800;
    text-align: center; }
  .service__grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    flex-wrap: wrap; }
    .service__grid__individual {
      width: 25%;
      min-width: 300px;
      position: relative; }
      @media (max-width: 350px) {
        .service__grid__individual {
          min-width: 170px; } }
      .service__grid__individual img {
        width: 100%;
        height: auto; }
      .service__grid__individual__text {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -105%);
        background: #000000a1;
        width: 100%;
        padding: 31px 33px; }
        .service__grid__individual__text p {
          width: 100%;
          color: white;
          font-size: 18px;
          font-weight: 700;
          max-width: 250px; }
          @media (max-width: 350px) {
            .service__grid__individual__text p {
              font-size: 10px; } }
  .service__button {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background: #034EA2;
    border-radius: 50px;
    padding: 21px 114px; }
    @media (max-width: 991px) {
      .service__button {
        padding: 21px 54px;
        font-size: 18px; } }

.contact {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 75px;
  padding-bottom: 50px; }
  @media (max-width: 1100px) {
    .contact {
      flex-direction: column; } }
  .contact input[type=number]::-webkit-inner-spin-button,
  .contact input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .contact input[type=number] {
    -moz-appearance: textfield; }
  .contact__image {
    width: 50%;
    height: 100%;
    min-height: 710px;
    position: relative;
    background-image: url("../img/contact.png");
    background-size: cover;
    background-position: center; }
    @media (max-width: 1100px) {
      .contact__image {
        width: 100%; } }
    .contact__image__text {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -106%);
      z-index: 2;
      background: #034da2a1;
      width: 100%;
      padding: 29px 67px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .contact__image__text p {
        text-align: end;
        width: 100%;
        max-width: 550px;
        font-family: 'Poppins';
        color: white;
        font-size: 18px; }
        @media (max-width: 700px) {
          .contact__image__text p {
            font-size: 14px; } }
  .contact__form {
    width: calc(50% - 75px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    @media (max-width: 1100px) {
      .contact__form {
        width: 100%;
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center; } }
    @media (max-width: 500px) {
      .contact__form {
        padding: 0px 20px; } }
    .contact__form h2 {
      font-family: 'Poppins';
      font-size: 38px;
      font-weight: 700;
      color: #034EA2;
      margin-bottom: 20px; }
      @media (max-width: 1100px) {
        .contact__form h2 {
          width: 95%;
          text-align: start; } }
      @media (max-width: 900px) {
        .contact__form h2 {
          font-size: 28px; } }
    .contact__form p {
      font-family: 'Poppins';
      font-size: 18px;
      font-weight: 300;
      width: 90%;
      max-width: 775px; }
      @media (max-width: 1100px) {
        .contact__form p {
          width: 95%;
          text-align: start; } }
      @media (max-width: 900px) {
        .contact__form p {
          font-size: 14px; } }
    .contact__form label {
      font-family: 'Poppins';
      font-size: 18px;
      font-weight: 700;
      margin-top: 18px; }
      .contact__form label:first-child {
        margin-top: 28px; }
      @media (max-width: 1100px) {
        .contact__form label {
          width: 95%;
          text-align: start; } }
      @media (max-width: 900px) {
        .contact__form label {
          font-size: 14px; } }
    .contact__form input {
      margin-top: 10px;
      width: 90%;
      max-width: 775px;
      height: 51px;
      background: #EAEFF2;
      border-radius: 10px;
      border: none;
      padding-left: 20px; }
      @media (max-width: 1100px) {
        .contact__form input {
          width: 95%; } }
    .contact__form textarea {
      margin-top: 10px;
      width: 90%;
      max-width: 775px;
      height: 128px;
      background: #EAEFF2;
      border-radius: 10px;
      border: none;
      padding: 20px;
      resize: none; }
      @media (max-width: 1100px) {
        .contact__form textarea {
          width: 95%; } }
    .contact__form__button {
      margin-top: 20px;
      width: 90%; }
      @media (max-width: 1100px) {
        .contact__form__button {
          width: 95%; } }
      .contact__form__button button {
        width: 100%;
        padding: 14px;
        background: #034EA2;
        color: white;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer; }
        @media (max-width: 900px) {
          .contact__form__button button {
            font-size: 14px; } }

.last {
  width: 100%;
  height: auto;
  min-height: 650px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1100px) {
    .last {
      min-height: 480px; } }
  .last__lavadora {
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, 0);
    max-width: 556px; }
    .last__lavadora img {
      width: 100%;
      height: auto; }
    @media (max-width: 1100px) {
      .last__lavadora {
        display: none; } }
  .last__herramientas {
    width: 50%;
    max-width: 945px;
    position: absolute;
    top: 100%;
    left: 65%;
    transform: translate(-65%, -95%); }
    @media (max-width: 1100px) {
      .last__herramientas {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -95%);
        width: 100%; } }
    .last__herramientas img {
      width: 100%;
      height: auto; }
  .last__text {
    width: 100%;
    max-width: 1100px;
    position: absolute;
    top: 10%;
    left: 65%;
    transform: translate(-65%, -10%); }
    @media (max-width: 1650px) {
      .last__text {
        max-width: 600px; } }
    @media (max-width: 1100px) {
      .last__text {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%); } }
    .last__text h4 {
      text-align: center;
      width: 100%;
      font-size: 38px;
      font-weight: 300;
      font-family: 'Poppins'; }
      @media (max-width: 1650px) {
        .last__text h4 {
          font-size: 28px; } }
      @media (max-width: 1100px) {
        .last__text h4 {
          font-size: 24px;
          padding: 0px 10px; } }
      .last__text h4 span {
        font-weight: 700; }
  .last__icon {
    width: 100%;
    max-width: 142px;
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-98%, -50%); }
    .last__icon img {
      width: 100%;
      height: auto; }
    @media (max-width: 1100px) {
      .last__icon {
        display: none; } }

.thanks {
  width: 100%;
  height: 81vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .thanks h2 {
    width: 90%;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 700; }
  .thanks p {
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400; }
  .thanks a {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
    background: #034ea2;
    color: white;
    padding: 10px 35px;
    border-radius: 50px; }

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }

h1, h2 {
  font-family: Poppins; }
