.hero{
    width: 100%;
	position: relative;
	height: auto;
    background-image:url('../img/banner-GE.webp');	
    background-size:cover ;
    background-position:bottom 0 left 10%;
    background-repeat: no-repeat; 
    padding: 60px 0 0 0;
    margin-top: 80px;
    @include flex-center-center;

    @media(min-width:1199px){
        height: 1080px;
        padding: 120px 0;
    }


    .container{
        @include flex-end-center;
        flex-direction: column;

        @media(min-width:1199px){
            @include flex-end-center;
		}
    }

    &__text{
        width: 100%;
        
        h1{
            color: white;
            font-size: 25px;
            font-weight:bold;
            text-align: center;
            font-family: GE Sans Bold;
            line-height: 32px;
            text-shadow: black 0.1em 0.1em 0.2em;

            @media(min-width:768px){ //*phone
                font-size: 45px;
                line-height:50px;
            }

            @media(min-width:1199px){ //*table
                text-align: end;
            }

            @media(min-width:1700px){//*Desktop
                line-height: 70px;
                font-size: 60px;
                text-align: end;
            }
        }

        p{
            padding-top: 25px;
            color: white;
            font-size: 20px;
            text-align: center;
            font-family: GE Sans;
            line-height: 25px;
            text-shadow: black 0.1em 0.1em 0.2em;
            
            @media(min-width:768px){
                font-size: 25px;
                line-height: 30px;
            }

            @media(min-width:1199px){ //*table
                text-align: end;
            }

            @media(min-width:1700px){
                font-size: 30px;
                line-height: 35px;
            }
        }

        &__button{
            @include flex-center-center;

            @media(min-width:1199px){
                @include flex-center-end;
            }

            a{
                border: 2px solid $science_blue;
                margin-top: 30px;
                background-color:$science_blue ;
                font-family: GE Sans Bold;
                font-weight: bold;
                padding: 15px 30px ;
                color:white;
                font-size: 15px;
                border-radius: 10px;
                text-align: center;

                @media(min-width:300px){
                    font-size: 20px;         
                }
    
                @media(min-width:768px){
                    font-size: 25px;
                    
                }
                @media(min-width:1700px){
                    font-size: 30px;
                }
            }

            a:hover{
                background-color:$white ;
                color: $science_blue;
                border: 2px solid $science_blue;
            }
        }
    }

    &__content{
        width: 100%;
        background-color: $elephant;
        margin-top: 50%;
        padding: 15px;
        @include flex-center-center;
        flex-direction: column;
        bottom: -20px;

        @media(min-width:1199px){
            width: 600px; 
            position: absolute;
            padding: 20px;
        }

        @media(min-width:1999px){
            bottom: 10px;
        }

        &__logo{
            width: 50px;
        }
    
        p{
            padding-top: 15px;
            color: white;
            font-size: 20px;
            text-align: center;
            font-family: GE Sans bold;
            font-weight: bold;
            line-height: 25px;
    
            @media(min-width:768px){
                font-size: 25px;
                line-height: 30px;
            }

            @media(min-width:1199px){
                padding-top: 25px;
            }

            @media(min-width:1700px){
                font-size: 30px;
                line-height: 35px;
            }
        }
    }


} 