.solution{
	width: 100%;
	height: auto;
	padding: 84px 0px;
	@include flex-center-center;
	flex-direction: column;

	.container{
		@include flex-center-center;
	}

	h2{
		margin-bottom: 80px;
		font-family: 'Poppins';
		font-size: 38px;
		color: #034EA2;
		font-weight: 700;
		text-align: center;

		@media (max-width: 991px) {
			font-size: 28px;
			line-height: 32px;
		}

	}

	&__grid{
		width: 100%;
		@include flex-center-center;

		@media (max-width: 1650px) {
			gap: 40px;
		}

		@media (max-width: 1100px) {
			gap: 70px;
			flex-direction: column;
		}

		&__image{
			width: 40%;
			padding-right: 40px;

			@media (max-width: 1650px) {
				width: 30%;
			}

			@media (max-width: 1100px) {
				width: 100%;
				padding-right: 0px;
				@include flex-center-center;
			}
			
			img{
				width: 100%;
				max-width: 681px;
				height: auto;
			}

		}

		&__icons{
			width: 60%;
			@include flex-center-start;
			flex-wrap: wrap;
			padding-right: 20px;
			gap: 45px;

			@media (max-width: 1650px) {
				width: 70%;	
				padding-right: 50px;
			}

			@media (max-width: 1100px) {
				width: 100%;
				padding: 0px 50px;
				@include flex-center-center;
			}

			&__individual{
				width: calc(50% - 45px);

				@media (max-width: 1100px) {
					min-width: 250px;
				}

				@media (max-width: 900px) {
					width: 98%;
				}

				&__logo{
					width: 125px;
					height: 125px;
					background: #034EA2;
					@include flex-center-center;
					border-radius: 10px;

					@media (max-width: 1650px) {
						width: 80px;
						height: 80px;
					}

					img{
						width: 70%;
						height: auto;
					}

				}

				h3{
					margin-top: 30px;
					font-family: 'Poppins';
					font-size: 38px;
					font-weight: 700;

					@media (max-width: 1650px) {
						margin-top: 20px;
						font-size: 24px;
					}

				}

				p{
					margin-top: 20px;
					font-family: 'Poppins';
					font-size: 18px;
					font-weight: 300;

					@media (max-width: 1650px) {
						margin-top: 10px;
						font-size: 17px;
					}

				}

			}

		}

	}

}