.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;

	@media(min-width: 576px) {
		max-width: 800px;
	}

	@media(min-width: 768px) {
		max-width: 1050px;
	}

	@media(min-width: 992px) {
		max-width: 1200px;
	}

	@media(min-width: 1200px) {
		max-width: 1300px;
	}

	@media(min-width: 1400px) {
		max-width: 1620px;
	}

	@media(min-width: 1700px) {
		max-width: 1550px;
	}

}

.container-sm{
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;

	@media(min-width: 576px) {
		max-width: 540px;
	}

	@media(min-width: 768px) {
		max-width: 960px;
	}

	@media(min-width: 992px) {
		max-width: 1160px;
	}

	@media(min-width: 1200px) {
		max-width: 1360px;
	}

	@media(min-width: 1400px) {
		max-width: 1460px;
	}

	@media(min-width: 1700px) {
		max-width: 1560px;
	}

}

.container-header{
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;

	@media(min-width: 576px) {
		max-width: 540px;
	}

	@media(min-width: 768px) {
		max-width: 960px;
	}

	@media(min-width: 992px) {
		max-width: 1160px;
	}

	@media(min-width: 1200px) {
		max-width: 1360px;
	}

	@media(min-width: 1400px) {
		max-width: 1460px;
	}

	@media(min-width: 1700px) {
		max-width: 1560px;
	}
}